<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="nav-container">
            <span>RollerClub</span>
            <nav>
                <a mat-flat-button [routerLink]="['/home']" routerLinkActive="active"  >Home</a>
                <a mat-flat-button [routerLink]="['/products']" routerLinkActive="active"  >Products</a>
                <a mat-flat-button [routerLink]="['/contact']" routerLinkActive="active"  >Contact</a>
                <a
                    class="shoppin-cart"
                    mat-raised-button 
                    matBadge="9"
                    matBadgeColor="warn">
                    <mat-icon class="icon">shopping_cart</mat-icon>
                </a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>