<div class="form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Login
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="container" [formGroup]="form" (ngSubmit)="saveLogin()">
          <div class="row">
            <div class="col-12">
              <mat-form-field >
                <mat-label>Email</mat-label>
                <input
                  formControlName="email"  
                  matInput 
                  type="text"
                  placeholder="Email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field >
                <mat-label>Password</mat-label>
                <input
                  formControlName="password"  
                  matInput 
                  type="password"
                  placeholder="Password">
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <button mat-raised-button type="submit" [disabled]="form.invalid">Save</button>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <br>
              <a [routerLink]="['/auth/register']" >
                <p router>Go to register</p>
              </a>
            </div>
          </div>
  
  
        </form>
      </mat-card-content>
    </mat-card>
</div>