<h1>Hello World</h1>



<input type="text" [(ngModel)]="title">

<br>
<br>
{{title}}
<br>
<br>
{{10 | exponential}}
<div *ngIf="title === 'aaron' "> 
    This is a div
</div>
<br>
<br>
<button (click)="addNames()">
    add name
</button>

<ul>
    <li *ngIf="names.length === 0"> The list is empty</li>
    <li *ngFor="let name of names; index as i">
        {{ i }} - {{name}} 
        <br>
        <br>
        <button (click)="deleteNames(i)">Delete</button>
        <br>
        <br>
    </li>
</ul>

<span [ngSwitch]="title">
    <p *ngSwitchCase="'aaron'">
        Hello I am aaron
    </p>
    <p *ngSwitchCase="'mariam'">
        Hello I am mariam
    </p>
    <p *ngSwitchCase="'anastasia'">
        Hello I am anastasia
    </p>
    <p *ngSwitchDefault>
        Hello I am Default
    </p>
</span>

<div class="product-grid">
    <app-product
        *ngFor="let product of products"
        (productClicked)="clickProduct($event)" 
        [product]="product" >
    </app-product>
</div>


