<h1>Hello World</h1>

<input type="text" [(ngModel)]="title">

<br>
<br>
{{title}}
<div *ngIf="title === 'aaron' "> 
    Este es un div
</div>
<br>
<br>
<button (click)="addNames()">
    add name
</button>

<ul>
    <li *ngIf="names.length === 0"> The list is empty</li>
    <li *ngFor="let name of names; index as i">
        {{ i }} - {{name}} 
        <br>
        <br>
        <button (click)="deleteNames(i)">Delete</button>
        <br>
        <br>
    </li>
</ul>

<span [ngSwitch]="title">
    <p *ngSwitchCase="'aaron'">
        Hola soy aaron
    </p>
    <p *ngSwitchCase="'mariam'">
        Hola soy mariam
    </p>
    <p *ngSwitchCase="'anastasia'">
        Hola soy anastasia
    </p>
    <p *ngSwitchDefault>
        Hola soy un marciano
    </p>
</span>

<div *ngFor="let product of products">
    <h4> {{product.title}} </h4>
    <div>
        <img [src]="product.image" alt="" style="width: 20%;">
    </div>
    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
</div>

