<div class="footer">
    <div class="container">
        <div class="col-12">
            <h3>Contact</h3>
            <div class="col-4">
                <mat-form-field >
                    <mat-label>Email</mat-label>
                    <input 
                        [formControl]="emailField" 
                        matInput placeholder="Email" 
                        value="email@example.com">
                </mat-form-field>
                <br>
                <button 
                    mat-raised-button 
                    [disabled]="emailField.invalid && emailField.dirty"
                    (click)="sendMail()">
                    Send
                </button>
            </div>
        </div>
    </div>
</div>
