:host {
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
}

.cursor {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    min-width: 100%;
}